@supports (grid-area:auto){
.site{
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 50px 500px 200px 500px 800px 800px 800px 300px 50px;
  grid-template-areas:
    "nv"
    "para"
    "title"
    "para2"
    "intro"
    "carousel"
    "quiz"
    "slide"
    "ft";
}
.navbar{
  grid-column: 1/2;
  background:#eeccde;
  display: flex;
  grid-row: 1/2;
}
.para{
  grid-column: 1/2;
  grid-row: 2/3;

}
.title{
  grid-column: 1/2;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  grid-row: 3/4;
}
.para2{
  grid-column: 1/2;
}
.intro{
  grid-column: 1/2;
  grid-row:
  display: flex;
  justify-content: center;
}
.carousel{
  grid-column: 1/2;
  background: #E1E0E0;
}
#quiz{
  border-radius: 10px;
}

  .demo {
  width: 100%;
  height: 200px;
  }

}
.footer{
  grid-column: 1/2;
  background: #eeccde;
}

.firstparagraph{
  border-radius: 10px;
  font-size: 1.5em;
  padding: 30px;
  background: rgba(181, 221, 244, .75);
  min-height:400px;
  font-family: sans-serif;
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 50px;
  margin-right: 50px;
}
.title{
  font-family: 'Bungee Shade', cursive;
  font-size: 2em;
}

.char1{
  color: #fcf5a9;
}
.char1:hover{
  font-size: 420%;
}
.char2{
  color: #fff696;
}
.char3{
  color: #fff696;
}
.char4{
  color: #fff05b;
  padding-right: 30px;
}
.char6{
  color: #e1ffa5;
}
.char7{
  color:#86d651;
}
.char8{
  color:#41ea74;
}
.char9{
  color: #41ea74;
}
.char10{
  color:#65f7e6;
  padding-right: 30px;
}
.char12{
  color:#59dff7;
}
.char13{
  color:#5bb1ea;
}
.char14{
  color:#5486f9;
}
.char15{
  color:#5486f9;
}
.char16{
  color:#856dff;
}
.char17{
  color:#a86ad8;
}

@media screen and (max-width:767px){
  .site{
    grid-template-columns: 1fr;
    grid-template-areas:
    "nv"
    "para"
    "title"
    "para2"
    "intro"
    "carousel"
    "quiz"
    "source-carousel"
    "ft";
  }
.navbar{
  grid-column: 1/2;
}
.para{
  grid-column: 1/2;
}
.title{
  grid-column: 1/2;
}
.para2{
  grid-column: 1/2;
}
.intro{
  grid-column: 1/2;
}
.carousel{
  grid-column: 1/2;
}
.quiz{
  grid-column: 1/2;
}
.source-carousel{
  grid-column: 1/2;
}
.ft{
  grid-column: 1/2;
}

}



.carousel {
    margin-left: 15%;
    margin-right: 15%;
}

ul.slides {
    display: block;
    position: relative;
    min-height: 800px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style: none;
    min-width: 100%;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

ul.slides input {
    display: none;
}


.slide-container {
    display: block;
}

.slide-image {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    transition: all .7s ease-in-out;
}

.slide-image img {
    width: auto;
    min-width: 100%;
    height: 100%;
}

.carousel-controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    font-size: 100px;
    line-height: 600px;
    color: #fff;
}

.carousel-controls label {
    display: none;
    position: absolute;
    padding: 0 20px;
    opacity: 0;
    transition: opacity .2s;
    cursor: pointer;
}

.slide-image:hover + .carousel-controls label{
    opacity: 0.5;
}

.carousel-controls label:hover {
    opacity: 1;
}

.carousel-controls .prev-slide {
    width: 49%;
    text-align: left;
    left: 0;
}

.carousel-controls .next-slide {
    width: 49%;
    text-align: right;
    right: 0;
}

.carousel-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    z-index: 999;
    text-align: center;
}

.carousel-dots .carousel-dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    margin: 10px;
}

input:checked + .slide-container .slide-image {
    opacity: 1;
    transform: scale(1);
    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .carousel-controls label {
     display: block;
}

input#img-1:checked ~ .carousel-dots label#img-dot-1,
input#img-2:checked ~ .carousel-dots label#img-dot-2,
input#img-3:checked ~ .carousel-dots label#img-dot-3,
input#img-4:checked ~ .carousel-dots label#img-dot-4,
input#img-5:checked ~ .carousel-dots label#img-dot-5,
input#img-6:checked ~ .carousel-dots label#img-dot-6 {
	opacity: 1;
}


input:checked + .slide-container .nav label { display: block; }

/*this is quiz formatting*/

.quiz-container {
    padding: 1em;
    max-width: 100%;
    margin: 100px;
    background: #b5ddf4;
}

.quiz-container a {
    text-decoration: none;
    color: #333;
}

#quiz-header,
#quiz-start-screen,
#quiz-results-screen,
#quiz-counter {
    text-align: center;
}
#quiz-header{
  font-family: 'Bungee Shade', cursive;
  font-size: 1.5em;
}
#quiz-start-btn {
  font-family: sans-serif;
  font-size: 1.5em
}
.question {
    font-size: 1.25em;
    font-style: sans-serif;
}

.answers {
    list-style: none;
    padding: 0;
    font-family: sans-serif;
}

.answers a {
    display: block;
    padding: 0.5em 1em;
    margin-bottom: 0.5em;
    background: #fff;
    border-radius: 10px;
}

.answers a.correct {
    background: #090;
    font-family: sans-serif;
}
.answers a.incorrect {
    background: #c00;
    font-family: sans-serif;
}

.answers a.correct,
.answers a.incorrect {
    color: #fff;
}

#quiz-controls {
    background: #333;
    color: #fff;
    padding: 0.5em 1em;
    text-align: center;
    border-radius: 10px;
}

#quiz-response {}
#quiz-results {
    font-size: 1.25em;
}

#quiz-buttons a,
.quiz-container .quiz-button {
    display: inline-block;
    padding: 1em 2em;
    background: #333;
    color: #fff;
    border-radius: 10px;
}
#quiz-buttons a {
    background: #fff;
    color: #333;
}

/* Quiz State Overrides */

.quiz-results-state #quiz-controls {
    background: none;
    padding: 0;
}
.quiz-results-state #quiz-buttons a {
    background: #333;
    color: #fff;
}


.parallax-slider{
  position:absolute; top: 400px; left: 400px;
}

.tooltip:hover{
  cursor: pointer;
}
.tooltip{
  color: white;
}





}
